--find-links https://data.pyg.org/whl/torch-2.1.0+cu118.html
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.2

pyro-ppl
scipy
tqdm
matplotlib
pandas  
sympy  
seaborn
plotly
wandb
fairlearn
torch_geometric
